<!-- POP UP FORM -->
<div class="sticky">
  <!-- sticky ELEMENT: make element "stick" to a specific position on the screen as the user scrolls -->
  <div class="form-container">

    <!-- RESET PASSWORD FORM -->
    <form [formGroup]="resetForm" class="reset-password-form" [class.active]="isActive">

      <div class="form-header">
        <!-- FORM TITLE -->
        <h2 class="form-title">
          <span>
            Reset
          </span>
          Password
        </h2>

        <!-- CLOSE FORM BUTTON -->
        <a class="close-form-btn" (click)="closeResetPasswordForm()">
          <fa-icon [icon]="closeIcon"></fa-icon>
        </a>
      </div>

      <div class="form-input">
        <div class="user-input-wrp">
          <input type="text" formControlName="email" class="input-text" required>
          <span class="floating-label">
            {{ defaultParams.email }}
          </span>

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="resetForm.controls['email'].invalid && (resetForm.controls['email'].dirty || resetForm.controls['email'].touched)"
            class="error-message">
            <p>
              <fa-icon [icon]="warningIcon"></fa-icon>
              A valid email is required
            </p>
          </div>
        </div>

        <div class="user-input-wrp">
          <input type="password" formControlName="userPassword" class="input-text" required>
          <span class="floating-label">
            {{ defaultParams.password }}
          </span>

          <!-- ERROR MESSAGE -->
          <div
            *ngIf="resetForm.controls['userPassword'].invalid && (resetForm.controls['userPassword'].dirty || resetForm.controls['userPassword'].touched)"
            class="error-message">
            <p> 
              <fa-icon [icon]="warningIcon"></fa-icon>
              A valid password is required
            </p>
          </div>
        </div>

        <!-- RESET PASSWORD BUTTON -->
        <button class="resetPasswordBtn" (click)="resetPassword()" [ngClass]="resetForm.valid ? 'enabled' : 'disabled'">
          <fa-icon [icon]="angryEmoji"></fa-icon>
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
<!--=============== FORM END ==============-->